* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #0045ad;
  --secondary-color: #f9f2dc;
  --gold-color: #f9da7d;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Plus Jakarta Sans", sans-serif;
  --black-color: rgb(0, 0, 0, 0.8);
}

header {
  max-width: 100%;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.4);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  background-color: var(--main-color);
  z-index: 999;
}

.navbar .logo h3 {
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.3rem;
}

.navbar ul {
  display: flex;
  gap: 1.8rem;
}

.navbar ul li a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  display: block;
  transition: all 0.3s;
}

.navbar ul li a:hover::after {
  background-color: var(--main-color);
  width: 100%;
}

.sticky .logo h3 {
  color: white;
}

.sticky ul li a {
  color: white;
}

.sticky ul li a:hover::after {
  background-color: white;
}

.hamburger-menu,
.close-menu {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 998;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Beranda */
.beranda {
  max-width: 100%;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  scroll-margin-top: 10rem;
}

.beranda .textbox {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.beranda .badge {
  background-color: var(--secondary-color);
  border-radius: 10pc;
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: var(--black-color);
  font-family: var(--secondary-font);
}

.beranda .textbox .name h2 {
  font-size: 2.8rem;
  color: var(--black-color);
}

.beranda .textbox .name h2 > span {
  color: var(--main-color);
}

.beranda .textbox .slogan p {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-color);
}

.beranda .textbox .slogan span {
  color: var(--main-color);
}

.beranda .textbox .description p {
  font-family: var(--secondary-font);
  color: var(--black-color);
  line-height: 27px;
  font-size: 1.1rem;
}

.beranda .cta {
  max-width: 100%;
  display: flex;
  gap: 1.3rem;
  margin-top: 3rem;
  justify-content: center;
}

.beranda .cta .cta-project button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 10pc;
  padding: 0.8rem 2rem;
  transition: all 0.3s;
}

.cta .cta-project button:hover {
  transform: scale(1.02);
  background-color: #0568fd;
}

.cta .cta-contact button {
  border: 2px solid #d9d9d9;
  padding: 0.8rem 3.2rem;
  border-radius: 10pc;
  transition: all 0.3s;
}

.cta .cta-contact button:hover {
  transform: scale(1.02);
}

.cta .cta-project button a {
  color: white;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: bold;
}

.cta .cta-contact button a {
  color: var(--black-color);
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: bold;
}

/* Tentang Saya */
.tentang {
  max-width: 100%;
  position: relative;
  scroll-margin-top: 11rem;
}

.tentang .heading,
.projek .heading,
.kontak .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.tentang .heading .title,
.projek .heading .title,
.kontak .heading .title {
  background-color: var(--secondary-color);
  border-radius: 10pc;
  padding: 0.8rem 2rem;
  max-width: fit-content;
}

.tentang .heading .title span,
.projek .heading .title span,
.kontak .heading .title span {
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--black-color);
}

.tentang .heading .title span i,
.projek .heading .title span i,
.kontak .heading .title span i {
  color: var(--gold-color);
  padding-right: 10px;
}

.tentang .heading .subtitle p {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 500;
}

.tentang .main-content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.tentang .main-content .left-col {
  flex-basis: 40%;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.tentang .main-content .left-col:hover img {
  transform: translateY(-8px);
}

.tentang .main-content .left-col:hover .box {
  transform: rotate(8deg) translate(10px, 10px);
}

.tentang .main-content .right-col {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  gap: 3rem;
}

.tentang .main-content .left-col .box {
  background-color: var(--main-color);
  display: block;
  position: absolute;
  width: 300px;
  height: 350px;
  border-radius: 12px;
  z-index: -1;
  transform: rotate(5deg);
  transition: all 0.5s;
}

.tentang .main-content .left-col img {
  border: 3px solid var(--main-color);
  border-radius: 12px;
  width: 300px;
  height: 350px;
  object-fit: cover;
  transition: all 0.3s;
}

.tentang .main-content .right-col .about .title h2,
.tentang .main-content .right-col .skills .title h2 {
  color: var(--black-color);
  font-size: 1.8rem;
}

.tentang .main-content .right-col .about .description p {
  text-align: justify;
  color: var(--black-color);
  font-family: var(--secondary-font);
  margin-top: 1rem;
  line-height: 27px;
}

.tentang .main-content .right-col .skill-badge {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tentang .main-content .right-col .skill-badge .badge {
  background-color: var(--secondary-color);
  padding: 0.5rem 1.3rem;
  border-radius: 10pc;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--black-color);
  transition: all 0.3s;
  cursor: pointer;
}

.tentang .main-content .right-col .skill-badge .badge:hover {
  background-color: var(--gold-color);
  transform: scale(1.01);
}

.tentang .main-content .right-col .skill-badge .badge:nth-child(even) {
  background-color: var(--main-color);
  color: white;
}

.tentang .main-content .right-col .skill-badge .badge:nth-child(even):hover {
  background-color: #0568fd;
}

.tentang .main-content .right-col .skill-badge .badge i {
  margin-right: 0.5rem;
}

/* Projek */

.projek {
  width: 100%;
  padding: 9rem 1.5rem;
}

.projek .main-content,
.kontak .main-content {
  display: flex;
  margin-top: 4rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.projek .main-content .card {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  max-width: 364px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.4);
  transition: all 0.5s;
  cursor: pointer;
}

.projek .main-content .card:hover {
  transform: translateY(-4px);
}

.projek .main-content .card .img img {
  max-width: 100%;
  border-radius: 12px 12px 0 0;
}

.projek .main-content .card .title h3 {
  padding: 0.5rem 1.3rem;
  color: var(--black-color);
  font-size: 1rem;
}

.projek .main-content .card .description p {
  text-align: justify;
  padding: 0.5rem 1.3rem;
  font-family: var(--secondary-font);
  color: var(--black-color);
  font-weight: 400;
  line-height: 25px;
}

.projek .main-content .card .cta {
  display: inline-block;
  padding: 1rem 1.5rem;
}

.projek .main-content .card .cta button {
  border-radius: 6px;
  padding: 0.5rem 1.4rem;
  border: none;
  outline: none;
  background-color: var(--main-color);
  transition: all 0.3s;
}

.projek .main-content .card .cta button:hover {
  background-color: #0568fd;
  transform: scale(1.01);
}

.projek .main-content .card .cta button a {
  color: white;
  font-family: var(--secondary-font);
  font-weight: bold;
}

/* Kontak */
.kontak {
  width: 100%;
  padding: 5rem 1.5rem;
  scroll-margin-top: 8rem;
}

.kontak .main-content .card {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem 4rem;
  transition: all 0.5s;
  cursor: pointer;
}

.kontak .main-content .card:hover {
  border: 1px solid var(--main-color);
  transform: translateY(-4px);
}

.kontak .main-content .card .icon {
  border: 2px solid var(--main-color);
  padding: 1.3rem;
  border-radius: 12px;
}

.kontak .main-content .card .icon i {
  font-size: 1.6rem;
  color: var(--main-color);
}

.kontak .main-content .card .title h3 {
  color: var(--black-color);
  margin-top: 1.5rem;
}

.kontak .main-content .card .email span {
  color: var(--main-color);
  font-family: var(--secondary-font);
  font-weight: bold;
  display: inline-block;
  margin-top: 0.6rem;
}

.kontak .main-content .card .slogan span {
  margin-top: 1rem;
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: rgb(0, 0, 0, 0.6);
  font-style: italic;
  font-size: 1.3rem;
}

.kontak .main-content .card .sosial-media {
  margin-top: 3rem;
}

.kontak .main-content .card .sosial-media a {
  border-radius: 12px;
  font-size: 1.4rem;
  margin: 0 10px;
  color: var(--main-color);
  padding: 0.8rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.kontak .main-content .card .sosial-media a:hover {
  background-color: var(--main-color);
  color: white;
}

/* Footer */
.footer {
  max-width: 100%;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9rem;
  border-top: 1px solid #d9d9d9;
}

.footer .logo h3 {
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.3rem;
}

.footer .copyright span {
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
}

/* Responsif */

/* Mobile */

@media (min-width: 375px) and (max-width: 767px) {
  body.no-scroll {
    overflow: hidden;
  }

  /* Navbar Mobile */
  .navbar {
    position: relative;
  }

  .navbar ul {
    position: fixed;
    flex-direction: column;
    top: -999px;
    z-index: 999;
    left: 10%;
    padding: 2rem;
    border: 1px solid var(--main-color);
    background-color: white;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 80%;
    transition: all 0.5s;
  }

  .navbar ul li {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem 0;
  }

  .navbar ul li a {
    font-size: 1rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 1.4rem;
  }

  .close-menu {
    display: block;
    position: absolute;
    background-color: var(--main-color);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    height: 50px;
    top: -30px;
    right: -20px;
  }

  .sticky {
    position: fixed;
  }

  .sticky ul li a {
    color: var(--black-color);
  }

  .sticky .hamburger-menu i {
    color: white;
    transition: all 0.3s;
  }

  /* Beranda Mobile  */
  .beranda .textbox {
    margin-top: 0.8rem;
  }

  .beranda .textbox .name h2 {
    font-size: 2.3rem;
  }

  .beranda .textbox .slogan p {
    font-size: 1rem;
  }

  .beranda .textbox .description p {
    font-size: 0.9rem;
    max-width: 350px;
  }

  .beranda .cta {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .beranda .cta .cta-project button {
    width: 100%;
    padding: 1rem 5rem;
  }

  .beranda .cta .cta-contact button {
    padding: 1rem 6.2rem;
  }

  /* Tentang Mobile */
  .tentang .heading .title span,
  .beranda .badge,
  .projek .heading .title span,
  .kontak .heading .title span {
    font-size: 0.9rem;
  }

  .tentang .heading .subtitle p,
  .projek .heading .subtitle p,
  .kontak .heading .subtitle p {
    text-align: center;
    font-size: 0.9rem;
  }
  .tentang .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 1.5rem;
  }

  .tentang .main-content .left-col .box {
    width: 280px;
    height: 330px;
  }

  .tentang .main-content .left-col img {
    width: 280px;
    height: 330px;
  }

  .tentang .main-content .right-col .about .title h2,
  .tentang .main-content .right-col .skills .title h2 {
    font-size: 1.5rem;
  }

  .tentang .main-content .right-col .skill-badge .badge {
    padding: 0.4rem 0.8rem;
  }

  /* Projek Mobile */
  .projek .main-content {
    flex-direction: column;
  }

  /* Kontak Mobile */
  .kontak .main-content .card {
    padding: 3rem;
  }
  .kontak .main-content .card .slogan span {
    font-size: 1.1rem;
    line-height: 25px;
    text-align: center;
  }
  .kontak .main-content .card .sosial-media a {
    padding: 0.5rem;
  }

  /* Footer Mobile*/
  .footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer .logo h3 {
    font-size: 1.6rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  body.no-scroll {
    overflow: hidden;
  }

  /* Navbar Mobile */
  .navbar {
    position: relative;
  }

  .navbar ul {
    position: fixed;
    flex-direction: column;
    top: -999px;
    z-index: 999;
    left: 10%;
    padding: 2rem;
    border: 1px solid var(--main-color);
    background-color: white;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 80%;
    transition: all 0.5s;
  }

  .navbar ul li {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem 0;
  }

  .navbar ul li a {
    font-size: 1rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 1.4rem;
  }

  .close-menu {
    display: block;
    position: absolute;
    background-color: var(--main-color);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    height: 50px;
    top: -30px;
    right: -20px;
  }

  .sticky {
    position: fixed;
  }

  .sticky ul li a {
    color: var(--black-color);
  }

  .sticky .hamburger-menu i {
    color: white;
    transition: all 0.3s;
  }
  /* Beranda Tablet */
  .beranda {
    display: flex;
    margin-top: 7rem;
  }

  /*Tentang Tablet  */
  .tentang .heading .subtitle p,
  .projek .heading .subtitle p {
    font-size: 1.1rem;
  }

  .tentang .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }

  .tentang .main-content .left-col .box {
    width: 400px;
    height: 420px;
  }

  .tentang .main-content .left-col img {
    width: 400px;
    height: 400px;
  }

  /* Projek Tablet */
  .projek .main-content {
    flex-wrap: wrap;
    justify-content: start;
  }

  .projek .main-content .card {
    max-width: 340px;
  }
}
